워크플로_근태관리/Slack_Attendance_Bot.json
{
  "name": "소정_n8n_슬랙봇",
  "nodes": [
    {
      "parameters": {
        "content": "사전작업 작업\n1. [슬랙] 워크스페이스생성\n2. [슬랙 api] 앱 생성\n기본설정\n앱 권한 (OAuth & Permission)\n앱 홈\n 표시 이름 작성, 항상 온라인 ON, 탭 표시 ON \n-OAuth 권한 (봇 토큰, 사용자 토큰) 둘다 생성되고 설치. \n3. [슬랙] 봇 초대하기 \n워크스페이스 좌측 하단  apps 란에 봇 표시이름 확인\n클릭 후 우측 상단 점 세개 \n상세보기 Open App Details\n봇 초대할 채널 선택\nAdd testbot too a channel ",
        "height": 336,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        0
      ],
      "typeVersion": 1,
      "id": "e14c0626-51b9-4620-bdee-38fb47d189cd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24ef1afb-ecbb-470d-b7a9-32d6089cc86c",
              "name": "=근무시간",
              "value": "={{ DateTime.fromMillis($json.ts * 1000).setZone('Asia/Seoul').toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "5c86a0d4-b38b-4950-b2a9-6f67611b48b7",
              "name": "사용자이름",
              "value": "={{ $json.real_name }}",
              "type": "string"
            },
            {
              "id": "19831c1a-c9a2-4370-a4b0-cf53fd4e3fd1",
              "name": "구분",
              "value": "={{ $json.text.includes('출근') ? '출근' : '퇴근' }}",
              "type": "string"
            },
            {
              "id": "1286aa03-a20c-4d78-befc-bb5d17d1a80a",
              "name": "원본메시지",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        512
      ],
      "id": "d3522551-0253-4cac-989f-ee2d3fbcddb1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "replies",
        "channelId": {
          "__rl": true,
          "value": "Slack Channel ID",
          "mode": "list",
          "cachedResultName": "5_출퇴근기록"
        },
        "ts": "=1763506818.156159",
        "filters": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1264,
        496
      ],
      "id": "f67928da-5f73-439f-a92c-cf386c33381f",
      "name": "Get a thread",
      "webhookId": "5200ded2-efaf-4404-b22f-6268603bcee9",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "slackApi",
          "name": "Slack API Credential 이름"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -784,
        512
      ],
      "id": "9e11ab2d-66cd-4f1b-8b3f-906b333c72fd",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "Google Sheet ID",
          "mode": "list",
          "cachedResultName": "[지지플랩] 근태내역",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xQYG995Z2sr8L5Vn4rYmhS4jxOnc_SZYjhP2BP1p4TE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1859397282,
          "mode": "list",
          "cachedResultName": "시트4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xQYG995Z2sr8L5Vn4rYmhS4jxOnc_SZYjhP2BP1p4TE/edit#gid=1859397282"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "구분",
              "displayName": "구분",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "근무시간",
              "displayName": "근무시간",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "날짜",
              "displayName": "날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "시간",
              "displayName": "시간",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "사용자이름",
              "displayName": "사용자이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "원본메시지",
              "displayName": "원본메시지",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        512
      ],
      "id": "e97fae22-a252-454a-a3d9-6f1dc4bc2404",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google api",
          "name": "Google Sheets Credential 이름"
        }
      }
    },
    {
      "parameters": {
        "operation": "getPermalink",
        "channelId": {
          "__rl": true,
          "value": "Slack Channel ID",
          "mode": "list",
          "cachedResultName": "5_출퇴근기록"
        },
        "timestamp": 1763506818.156159
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1456,
        496
      ],
      "id": "f93ff4af-251f-4266-a3c2-d3abc1e7d514",
      "name": "Get a message permalink",
      "webhookId": "37618eb3-fc07-41a0-b7bb-086fe0f3d0f4",
      "credentials": {
        "slackApi": {
          "id": "slackApi",
          "name": "Slack API Credential 이름"
        }
      }
    },
    {
      "parameters": {
        "content": "워크플로우 설명\nSlack (Get Messages): 타임스탬프를 통해 메시지를 불러옵니다.\n\nSlack (Get a thread): 해당 메시지의 스레드(댓글)를 모두 가져옵니다.\n\nFunction : 봇과 관리자(U09PV8GNYDV)를 제외하고, 텍스트에 '출근' 또는 '퇴근' 키워드가 포함된 사용자 메시지만 추출\n\nSlack (Get Information about user): 조건에 해당하는 사용자의 real_name 정보를 가져옵니다. \n\nMerge Node: 필터링된 메시지 데이터와 사용자 이름 데이터를 합칩니다.\n\nEdit Fields2 (Set Node): 데이터를 정리하고 시간대를 변환하며, 불필요한 필드를 제거합니다.\n\nGoogle Sheets: 최종 데이터를 추가합니다.",
        "height": 336,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        0
      ],
      "typeVersion": 1,
      "id": "3e05de7d-853e-4953-8ccd-637f92ad95f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst EXCLUDED_USER_ID = 'Manager's Slack User ID'; // 제외할 관리자 ID를 변수로 선언\n\n// 입력된 모든 항목(Slack 메시지)을 반복합니다.\nfor (const item of $input.all()) {\n  const user = item.json.user; // 메시지 작성자 ID\n  const text = item.json.text; // 메시지 내용\n\n  // 1. 슬랙봇이 아니어야 합니다.\n  const isNotBot = user !== 'USLACKBOT'; \n  \n  // 2. 관리자 ID (Manager's Slack User ID)가 아니어야 합니다.\n  const isNotAdmin = user !== EXCLUDED_USER_ID; \n\n  // 3. 텍스트에 '출근' 또는 '퇴근'이 포함되어야 합니다.\n  const isCheckInOut = text && (text.includes('출근') || text.includes('퇴근'));\n  \n  // 세 조건 (봇이 아님 && 관리자가 아님 && 출퇴근 키워드 포함)이 모두 참일 경우에만 출력합니다.\n  if (isNotBot && isNotAdmin && isCheckInOut) {\n    items.push(item);\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        496
      ],
      "id": "b0a35022-1d7e-4428-b6c7-8fc4964a9719",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.user }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -928,
        608
      ],
      "id": "74f009c7-3fb9-4bf6-96df-8e93d5114e9f",
      "name": "Get information about a user",
      "webhookId": "bcfbc727-3c5c-4164-9140-6355ab0309e0",
      "credentials": {
        "slackApi": {
          "id": "slackApi",
          "name": "Slack API Credential 이름"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "value": "Slack Channel ID",
          "mode": "list",
          "cachedResultName": "5_출퇴근기록"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1632,
        640
      ],
      "id": "9f8038d4-871f-4f46-bc77-1ab35c5fd615",
      "name": "Slack Trigger",
      "webhookId": "588c964c-0ceb-4201-8062-2b46d11afd32",
      "credentials": {
        "slackApi": {
          "id": "slackApi",
          "name": "Slack API Credential 이름"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1632,
        352
      ],
      "id": "c2ad0992-59c3-4fd4-94a6-400369d53f8d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1632,
        496
      ],
      "id": "7b467e31-d783-4eba-83d7-96c6f6261a83",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message permalink": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get information about a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get information about a user": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a message permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc1c18c2-6066-439b-b30e-aa7f63c337da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3c9c522adfd6385f845232ff4cc78161b141f603e69361658584d0ff2befbeb"
  },
  "id": "rkzLE75ewVGfK77y",
  "tags": []
}
