workflow_reservation system/reservation system.json
{
  "name": "예약 알리미",
  "nodes": [
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.user.id }}",
          "mode": "id"
        },
        "text": "=예약확인\n부서: {{ $('예약 내용 호출').item.json['부서'] }}\n이름: {{ $('예약 내용 호출').item.json['이름'] }}\n일시: {{ $('예약 내용 호출').item.json['날짜'] }} {{ $('예약 내용 호출').item.json['시간'] }}\n장소: {{ $('예약 내용 호출').item.json['장소'] }}\n내용: {{ $('예약 내용 호출').item.json['예약내용'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        752,
        336
      ],
      "id": "1e934184-e45e-40ad-962c-e802fcea2bac",
      "name": "이용자 예약 확인 알림",
      "webhookId": "6e6e0150-8540-444a-978c-9b0e76fad12b",
      "credentials": {
        "slackApi": {
          "id": "BkY1T3hdf91ubPPu",
          "name": "김차병_slack"
        }
      }
    },
    {
      "parameters": {
        "content": "# 예약 알림 워크플로우\n## 기능\n* 예약 확인/취소 메시지를 개인 슬랙DM으로 발송\n* 예약 내용/ 취소 내용을 예약관리 채널에 발송하고 캘린더에 내용 등록\n\n## 세팅\n* 구글 스프레드 시트/ 캘린더 Credential\n* slack 챗봇(스코프 추가: users:read.email, chat:write)\n* Webhook url: 예약등록용, 예약취소용\n\n## \n",
        "height": 288,
        "width": 896,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -112
      ],
      "typeVersion": 1,
      "id": "df2ebb5a-a6f2-45b2-a085-6947672f0b9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 예약 등록 트리거\n* 웹앱에서 예약을 할 시 트리거 작동",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        208
      ],
      "typeVersion": 1,
      "id": "2d1b0f4f-cf5d-4ddf-93ec-2c091d56f94c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reserve-notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        336
      ],
      "id": "4d703464-98c4-44f9-97cc-dc36e5b61941",
      "name": "예약 등록 트리거",
      "webhookId": "325029ef-a389-45d8-bf6c-e31475801c5f"
    },
    {
      "parameters": {
        "content": "## 예약 내용 호출\n* 예약 정보가 모여있는 데이터 베이스에서 알림이 발송되지 않은 예약 내용만 호출",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        208
      ],
      "typeVersion": 1,
      "id": "d29e5958-d8b0-49cc-a6ce-82eb59786987",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 2차 분류\n* 예약 알림이 가지 않고 이메일이 작성되어 있는 예약 내용만 분류",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        208
      ],
      "typeVersion": 1,
      "id": "e2c9b088-edaf-4965-afc4-82297a679753",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "665b1158-b443-44b9-a3f5-239c39a8c5bc",
              "leftValue": "={{ $json['예약상태'] }}",
              "rightValue": "예약대기",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "893112c6-a605-4d8d-a236-aff4b9efd790",
              "leftValue": "={{ $json['이메일'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        336
      ],
      "id": "73c042a2-247c-45aa-8192-1029416c7b16",
      "name": "예약 분류"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk",
          "mode": "list",
          "cachedResultName": "예약 시스템",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "예약페이지",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "부서": "={{ $('예약 내용 호출').item.json['부서'] }}",
            "row_number": "={{ $('예약 내용 호출').item.json.row_number }}",
            "이름": "={{ $('예약 내용 호출').item.json['이름'] }}",
            "이메일": "={{ $('예약 내용 호출').item.json['이메일'] }}",
            "예약내용": "={{ $('예약 내용 호출').item.json['예약내용'] }}",
            "장소": "={{ $('예약 내용 호출').item.json['장소'] }}",
            "시간": "={{ $('예약 내용 호출').item.json['시간'] }}",
            "날짜": "={{ $('예약 내용 호출').item.json['날짜'] }}",
            "예약등록일시": "={{ $('예약 내용 호출').item.json['예약등록일시'] }}",
            "예약 번호": "={{ $json.id }}",
            "예약상태": "예약완료"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "부서",
              "displayName": "부서",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "이름",
              "displayName": "이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "이메일",
              "displayName": "이메일",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "예약내용",
              "displayName": "예약내용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "장소",
              "displayName": "장소",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "날짜",
              "displayName": "날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "시간",
              "displayName": "시간",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "예약등록일시",
              "displayName": "예약등록일시",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "예약상태",
              "displayName": "예약상태",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "예약 번호",
              "displayName": "예약 번호",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        336
      ],
      "id": "f272601f-56db-4623-9b43-504d772c810c",
      "name": "알림 완료 업데이트",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WWQauWHN0ddD22HX",
          "name": "김차병"
        }
      }
    },
    {
      "parameters": {
        "content": "## 알림완료 체크\n* 예약알림 완료로 업데이트",
        "height": 256,
        "width": 198
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        208
      ],
      "typeVersion": 1,
      "id": "ceeee319-1aa0-4113-98ff-5a41b73fbe76",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 슬랙 아이디 조회 \n* email기준으로 유저ID조회",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        208
      ],
      "typeVersion": 1,
      "id": "66570aca-32d9-46cb-8257-6639e0f861e9",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 이용자 알림\n* 이용자의 개인슬랙에 예약완료 알림 발송",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        208
      ],
      "typeVersion": 1,
      "id": "e26f08af-0e64-4043-a1ad-3334e5167fc0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 관리자 알림\n* 예약관리 채널에 예약확인 알림 발송",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        208
      ],
      "typeVersion": 1,
      "id": "776ac659-f073-413f-a9b7-60da0bfbb7f4",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09TY3FK412",
          "mode": "list",
          "cachedResultName": "예약-알리미"
        },
        "text": "=예약 알림\n- 부서: {{ $('예약 내용 호출').item.json['부서'] }}\n- 이름: {{ $('예약 내용 호출').item.json['이름'] }}\n- 이메일: {{ $('예약 내용 호출').item.json['이메일'] }}\n- 장소: {{ $('예약 내용 호출').item.json['장소'] }}\n- 일시: {{ $('예약 내용 호출').item.json['날짜'] }} {{ $('예약 내용 호출').item.json['시간'] }}\n- 내용: {{ $('예약 내용 호출').item.json['예약내용'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        976,
        336
      ],
      "id": "2af4a7fb-94b1-4fb7-9149-410e89a51303",
      "name": "관리자 예약 알림",
      "webhookId": "6d0cc025-c4cf-4f76-a6b3-07f22c0e9406",
      "credentials": {
        "slackApi": {
          "id": "BkY1T3hdf91ubPPu",
          "name": "김차병_slack"
        }
      }
    },
    {
      "parameters": {
        "content": "## 예약내용 등록\n* 예약관리용 캘린더에 예약 내용등록",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        208
      ],
      "typeVersion": 1,
      "id": "ab58fb90-c1f3-4e3f-a29c-ae8f15787d90",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk",
          "mode": "list",
          "cachedResultName": "예약 시스템",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "예약페이지",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "예약상태",
              "lookupValue": "예약대기"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        336
      ],
      "id": "410c4090-4a63-4939-bf0a-89deee4d04b2",
      "name": "예약 내용 호출",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WWQauWHN0ddD22HX",
          "name": "김차병"
        }
      }
    },
    {
      "parameters": {
        "content": "## 예약 취소 트리거\n* 웹앱에서 예약을 취소 할 시 트리거 작동",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        512
      ],
      "typeVersion": 1,
      "id": "7f509491-4060-4f21-939e-70f9e9d630af",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## 취소 내용 호출\n* 예약 취소정보가 모여있는 데이터 베이스에서 취소 내용 호출",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        512
      ],
      "typeVersion": 1,
      "id": "242a3044-2a9c-4824-a911-4a32904a9ad1",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## 취소 내용 삭제\n* 예약취소로 행 업데이트",
        "height": 256,
        "width": 198
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        512
      ],
      "typeVersion": 1,
      "id": "22cf9d53-52bf-466a-9ec9-ed62d0d57775",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## 슬랙 아이디 조회 \n* email기준으로 유저ID조회",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        512
      ],
      "typeVersion": 1,
      "id": "b75764f2-c593-4ea5-9897-6e1a0f843f54",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## 이용자 알림\n* 이용자의 개인슬랙에 예약취소 알림 발송",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        512
      ],
      "typeVersion": 1,
      "id": "f729c341-cf44-41ee-8d30-83c604688c98",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## 관리자 알림\n* 예약관리 채널에 예약 취소확인 알림 발송",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        512
      ],
      "typeVersion": 1,
      "id": "a2dccbd7-688e-4fb2-948d-a464dc9b1117",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## 예약내용 삭제\n* 예약관리용 캘린더에서 예약ID기준 예약 내용삭제",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        512
      ],
      "typeVersion": 1,
      "id": "47fa8a03-f26e-4b9f-a25c-459a503189c0",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reserve-cancel",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        640
      ],
      "id": "b817ab81-f9f3-4d8a-be6e-ff50d0038355",
      "name": "예약 취소 트리거",
      "webhookId": "10aeaebf-615d-4963-9e27-3423de3d3a2b"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk",
          "mode": "list",
          "cachedResultName": "예약 시스템",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "예약페이지",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "예약상태",
              "lookupValue": "예약취소"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        640
      ],
      "id": "78f1e952-c887-4ee4-ac99-1d85eeaa40d6",
      "name": "취소내용 호출",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WWQauWHN0ddD22HX",
          "name": "김차병"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.lookupByEmail?email={{ $json['이메일'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        640
      ],
      "id": "dc55798b-496b-47d6-89ed-9404d69249c1",
      "name": "슬랙 아이디 조회(취소)",
      "credentials": {
        "slackApi": {
          "id": "BkY1T3hdf91ubPPu",
          "name": "김차병_slack"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.lookupByEmail?email={{ $('예약 내용 호출').item.json['이메일'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        336
      ],
      "id": "f7cc7b80-1e8c-4a1d-9308-68d9de300dd4",
      "name": "슬랙 아이디 조회(예약)",
      "credentials": {
        "slackApi": {
          "id": "BkY1T3hdf91ubPPu",
          "name": "김차병_slack"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.user.id }}",
          "mode": "id"
        },
        "text": "= {{ $('취소내용 호출').item.json['이름'] }}님의 공실 예약이 취소되었습니다.  \n- 일시 : {{ $('취소내용 호출').item.json['날짜'] }} {{ $('취소내용 호출').item.json['시간'] }}\n- 장소 : {{ $('취소내용 호출').item.json['장소'] }}\n- 내용: {{ $('취소내용 호출').item.json['예약내용'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        528,
        640
      ],
      "id": "1e5b2c3d-2145-4813-8cb7-8052afc7add6",
      "name": "이용자 예약 취소 알림",
      "webhookId": "01248f7d-827c-40bc-aa91-daeaa37a6fa8",
      "credentials": {
        "slackApi": {
          "id": "BkY1T3hdf91ubPPu",
          "name": "김차병_slack"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09TY3FK412",
          "mode": "list",
          "cachedResultName": "예약-알리미"
        },
        "text": "=예약취소 알림\n- 부서: {{ $('취소내용 호출').item.json['부서'] }}\n- 이름: {{ $('취소내용 호출').item.json['이름'] }}\n- 이메일: {{ $('취소내용 호출').item.json['이메일'] }}\n- 장소: {{ $('취소내용 호출').item.json['장소'] }}\n- 일시: {{ $('취소내용 호출').item.json['날짜'] }} {{ $('취소내용 호출').item.json['시간'] }}\n- 내용: {{ $('취소내용 호출').item.json['예약내용'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        752,
        640
      ],
      "id": "41a2c836-c878-4eac-b776-46ca886ce12f",
      "name": "관리자 예약취소 알림",
      "webhookId": "6d0cc025-c4cf-4f76-a6b3-07f22c0e9406",
      "credentials": {
        "slackApi": {
          "id": "BkY1T3hdf91ubPPu",
          "name": "김차병_slack"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "42181a447e0cae71e6bdc3eb0bf27bdd9b10785652e29485a5c458b7813aa7f4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "예약시스템 관리"
        },
        "eventId": "={{ $('취소내용 호출').item.json['예약 번호'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        976,
        640
      ],
      "id": "00a19b49-3fb3-4d74-ba3b-f827f217f640",
      "name": "예약 삭제",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5LuKZu2TETSU0Vvf",
          "name": "김차병_캘린더"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "42181a447e0cae71e6bdc3eb0bf27bdd9b10785652e29485a5c458b7813aa7f4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "예약시스템 관리"
        },
        "start": "={{ $('예약 내용 호출').item.json['날짜'] }} {{ $('예약 내용 호출').item.json['시간'] }}",
        "end": "={{\n  (() => {\n    const d = $('예약 내용 호출').item.json['날짜'];   \n    const t = $('예약 내용 호출').item.json['시간'];   \n    if (!d || !t) return '';\n\n    const [hStr, mStr] = String(t).split(':');\n    let h = Number(hStr || 0);\n    const m = Number(mStr || 0);\n\n    // 1시간 더하기 (24시 넘으면 00시로)\n    h = (h + 1) % 24;\n\n    const hh = String(h).padStart(2, '0');\n    const mm = String(m).padStart(2, '0');\n\n    // Start와 똑같이 \"YYYY-MM-DD HH:mm\" 형태로 반환\n    return `${d} ${hh}:${mm}`;\n  })()\n}}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "=부서 : {{ $('예약 내용 호출').item.json['부서'] }}\n내용 : {{ $('예약 내용 호출').item.json['예약내용'] }}",
          "location": "={{ $('예약 내용 호출').item.json['장소'] }}",
          "summary": "={{ $('예약 내용 호출').item.json['장소'] }}호 예약({{ $('예약 내용 호출').item.json['이름'] }})"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1200,
        336
      ],
      "id": "2182e166-c2d6-4d76-95d0-9f2b3eb2a26b",
      "name": "예약 등록",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5LuKZu2TETSU0Vvf",
          "name": "김차병_캘린더"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk",
          "mode": "list",
          "cachedResultName": "예약 시스템",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "예약페이지",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNTy2x_V4eOz5hEvh9Z0F370I8t6sHVTTkr8K093vmk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('취소내용 호출').item.json.row_number }}",
            "부서": "={{ $('취소내용 호출').item.json['부서'] }}",
            "이름": "={{ $('취소내용 호출').item.json['이름'] }}",
            "이메일": "={{ $('취소내용 호출').item.json['이메일'] }}",
            "예약내용": "={{ $('취소내용 호출').item.json['예약내용'] }}",
            "장소": "={{ $('취소내용 호출').item.json['장소'] }}",
            "날짜": "={{ $('취소내용 호출').item.json['날짜'] }}",
            "시간": "={{ $('취소내용 호출').item.json['시간'] }}",
            "예약등록일시": "={{ $('취소내용 호출').item.json['예약등록일시'] }}",
            "예약상태": "=취소완료",
            "예약 번호": "={{ $('취소내용 호출').item.json['예약 번호'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "부서",
              "displayName": "부서",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "이름",
              "displayName": "이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "이메일",
              "displayName": "이메일",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "예약내용",
              "displayName": "예약내용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "장소",
              "displayName": "장소",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "날짜",
              "displayName": "날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "시간",
              "displayName": "시간",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "예약등록일시",
              "displayName": "예약등록일시",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "예약상태",
              "displayName": "예약상태",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "예약 번호",
              "displayName": "예약 번호",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        640
      ],
      "id": "39edf128-8a91-47b4-835a-e72bdadd32fa",
      "name": "취소완료 업데이트",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WWQauWHN0ddD22HX",
          "name": "김차병"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "이용자 예약 확인 알림": {
      "main": [
        [
          {
            "node": "관리자 예약 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "예약 등록 트리거": {
      "main": [
        [
          {
            "node": "예약 내용 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "예약 분류": {
      "main": [
        [
          {
            "node": "슬랙 아이디 조회(예약)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "관리자 예약 알림": {
      "main": [
        [
          {
            "node": "예약 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "예약 내용 호출": {
      "main": [
        [
          {
            "node": "예약 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "예약 취소 트리거": {
      "main": [
        [
          {
            "node": "취소내용 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "취소내용 호출": {
      "main": [
        [
          {
            "node": "슬랙 아이디 조회(취소)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "슬랙 아이디 조회(취소)": {
      "main": [
        [
          {
            "node": "이용자 예약 취소 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "슬랙 아이디 조회(예약)": {
      "main": [
        [
          {
            "node": "이용자 예약 확인 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이용자 예약 취소 알림": {
      "main": [
        [
          {
            "node": "관리자 예약취소 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "관리자 예약취소 알림": {
      "main": [
        [
          {
            "node": "예약 삭제",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "예약 삭제": {
      "main": [
        [
          {
            "node": "취소완료 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "예약 등록": {
      "main": [
        [
          {
            "node": "알림 완료 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "717e6f5c-0344-40a1-a32a-73505e678080",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3c9c522adfd6385f845232ff4cc78161b141f603e69361658584d0ff2befbeb"
  },
  "id": "8PlIS7CRTZsIm3tl",
  "tags": []
}